.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

.navbar-dark .navbar-nav .nav-link {
	color: rgba(255, 255, 255, 0.7);
	text-transform: uppercase;
	font-size: 14px;
	padding-right: 20px;
	font-weight: 300;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
	color: rgb(255, 255, 255);
}

.carousel-slide {
	width: 100%;
}

footer {
	background-color: #343a40;
	padding: 25px;
	margin-top: 100px;
}

footer a {
	 color : #687581;
 }
 footer a:hover {
	 text-decoration: none;
	color : #a0b2c4;
}

 .contact-aside ul{
	 border-left: 1px solid rgb(197, 197, 197)
 }
 .contact-aside ul li{
	 padding: 10px;
	 margin-bottom: 15px;
	 text-align: left
 }
 .contact-aside ul li span{
	 display: block;
	 opacity: .6;
 }
 .map-container{
	 margin-top: 56px;
 }
 .carousel-item{
	 max-height: 100vh;
 }
 .mobile-banner{
	 margin-top: 56px;
 }